fieldset,
legend,
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	margin: 0;
	outline: none;
	padding: 0;
}

input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="time"] {
	border: 1px solid #ccc;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 4px;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
input[type="datetime"],
input[type="week"],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 1px solid #ccc;
	border-radius: 0;
	font-size: 16px;
	margin-left: 0;
	margin-right: 0;
	outline: none;
	padding: 4px;
}

textarea {
	height: 100px;
	overflow: auto;
	width: 100%;
}

select {
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAALJJREFUeNrslssNgCAQRCmB0ijBEuyEEijBEijBEizBEnAPy0UBWVj8JDvJJB5w3gsXVUoikXwsBrpAPdRCNcOmxi2P2yZ3cIKGU9dOCY0b590pdXhPHOyRyMEDsi4JhVIlSvBYTRGgSNTAQ+pFyyBRC7e5AdchUQt3d1fYIsEGb5Fgh1MktlFwisQwOIeE4/pGuDfhLRLscIrEMHiNxHB4SeIxeMyMPxkenyUSyT9zCDAAj5btZ4c3zaUAAAAASUVORK5CYII=");
	background-position: right 8px center;
	background-repeat: no-repeat;
	background-size: 12px 12px;
	padding-right: 30px;
}

.select {
	background: #fff;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.select select {
	background: none;
	border: 1px solid #ccc;
	cursor: pointer;
	padding-right: 24px;
	text-overflow: "";
	width: 100%;
}

.select::before {
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #666;
	content: "";
	height: 0;
	padding: 0;
	pointer-events: none;
	position: absolute;
	right: 8px;
	top: 13px;
	width: 0;
}

/* radio & checkbox */

input[type="radio"],
input[type="checkbox"] {
	display: none;
}

input[type="radio"] + span,
input[type="checkbox"] + span {
	color: #555;
	cursor: pointer;
	display: inline-block;
	font-size: 1.4rem;
	line-height: 1;
	margin-left: 8px;
	padding: 10px 20px;
	position: relative;
	text-align: center;
}

input[type="radio"] + span::before,
input[type="checkbox"] + span::before {
	background: #fff;
	border: 1px solid #ccc;
	content: "";
	height: 16px;
	left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
	width: 16px;
}

/* fieldset */

fieldset {
	border: 1px solid #ccc;
	padding: 8px 16px;
}

legend {
	padding: 0 8px;
}

/* button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
	-webkit-box-sizing: content-box;
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
	background: #efefef;
	border: 1px solid #999;
	border-radius: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	margin: 0;
	padding: 10px 30px;
}

/* ブラウザ対策
---------------------------------------------------------------------------- */

/* Firefox */

/* IE */

select::-ms-expand {
	display: none;
}

/* webkit */

/* iOS */

input[type="submit"]::-webkit-search-decoration,
input[type=reset]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-decoration {
	display: none;
}

::-webkit-search-cancel-button {
	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
	-moz-appearance: none;
	-webkit-appearance: textfield;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	border-radius: 0;
	font-size: 16px;
	margin: 0;
	outline: none;
	padding: 0;
}

/* 挙動
---------------------------------------------------------------------------- */

/* hover */

input:hover,
textarea:hover,
select:hover {
	border-color: #666;
}

input[type="radio"] + span:hover,
input[type="checkbox"] + span:hover {
	color: #000;
}

input[type="radio"] + span:hover::before,
input[type="checkbox"] + span:hover::before {
	border-color: #000;
}

input[type="radio"] + span:hover::after,
input[type="checkbox"] + span:hover::after {
	background: #ccc;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* checked */

input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
	color: #3498db;
}

input[type="radio"]:checked + span::before,
input[type="checkbox"]:checked + span::before {
	border-color: #3498db;
}

input[type="radio"]:checked + span::after,
input[type="checkbox"]:checked + span::after {
	background: #3498db;
	content: "";
	height: 8px;
	left: -4px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 8px;
}

/* radio */

input[type="radio"] + span::before,
input[type="radio"] + span:hover::after,
input[type="radio"]:checked + span::after {
	border-radius: 50%;
}

/* button */

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
	background: #3498db;
	border-color: #3498db;
	color: #fff;
}

/* focus */

input:focus,
textarea:focus {
	border-color: #3498db;
}

input[type="submit"]:focus,
input[type=reset]:focus,
input[type="button"]:focus,
input[type="search"]:focus {
	outline-offset: -2px;
}

/* disabled */

input:disabled,
input:disabled:hover,
textarea:disabled,
textarea:disabled:hover {
	background: #eee;
	border-color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span,
input[type="checkbox"]:disabled + span {
	color: #ccc;
	cursor: not-allowed;
}

input[type="radio"]:disabled + span::before,
input[type="checkbox"]:disabled + span::before {
	border-color: #ccc;
	cursor: not-allowed;
}

/* バリデーション */

/* placeholder */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* リキッドレイアウト対応 */

html {
	font-size: 4.26667vw;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #111111;
	color: #FFFFFF;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.6;
	min-height: 100vh;
	min-height: -webkit-fill-available;
	overflow-wrap: break-word;
	position: relative;
	z-index: -9999;
}

/* Box sizing rules */

*,
*::before,
*::after {
	box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
span,
em,
small,
strong,
sub,
sup,
mark,
del,
ins,
strike,
abbr,
dfn,
blockquote,
q,
cite,
code,
pre,
ol,
ul,
li,
dl,
dt,
dd,
div,
section,
article,
main,
aside,
nav,
header,
hgroup,
footer,
img,
figure,
figcaption,
address,
time,
audio,
video,
canvas,
iframe,
details,
summary,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
	border: 0;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
}

img {
	border: none;
	height: auto;
	max-width: 100%;
	vertical-align: top;
}

video,
iframe,
object {
	border: none;
	height: auto;
	max-width: 100%;
}

ul,
ol {
	list-style: none;
}

table {
	border: 1px solid;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: fixed;
	width: 100%;
}

th,
td {
	border: 1px solid;
	padding: 4px 6px;
	text-align: left;
	vertical-align: top;
}

blockquote,
q {
	quotes: none;
}

blockquote::after,
blockquote::before,
q::after,
q::before {
	content: "";
	content: none;
}

address {
	font-style: normal;
}

b,
strong {
	font-weight: 700;
}

form {
	margin: 0;
	padding: 0;
}

label {
	display: inline-block;
}

a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
	touch-action: manipulation;
}

input,
button,
select,
optgroup,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	margin: 0;
}

button,
select {
	text-transform: none;
}

select {
	cursor: pointer;
}

textarea {
	-ms-overflow-style: scrollbar;
	overflow: auto;
	resize: vertical;
}

dialog {
	background-color: inherit;
	border: solid;
	color: inherit;
	display: block;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	left: 0;
	margin: auto;
	padding: 1em;
	position: absolute;
	right: 0;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
}

dialog:not([is-open]) {
	display: none;
}

summary {
	cursor: pointer;
	display: list-item;
}

/* Remove all animations and transitions for people that prefer not to see them */

.l-bg-line {
	background: url(../img/common/line-sp.png) no-repeat top/cover;
	height: 2110px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}

.l-header {
	color: #fff;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
}

.l-inner {
	height: inherit;
	margin: 0 auto;
	max-width: 33.75rem;
	padding-left: 20px;
	padding-right: 20px;
	width: 100%;
}

.l-news-contact {
	margin-top: 7.5rem;
}

.l-news-news {
	margin-top: 5.125rem;
}

.l-news-pagination {
	display: none;
}

.l-top-blog {
	margin-top: 7.5rem;
}

.l-top-contact {
	margin-top: 12.75rem;
}

.l-top-content {
	margin-top: 7.375rem;
	position: relative;
}

.l-top-news {
	margin-top: 1.5rem;
}

.l-top-overview {
	margin-top: 6.9375rem;
}

.l-top-works {
	margin-top: 7.5rem;
}

.breadcrumbs {
	letter-spacing: 0.0625em;
	margin-top: 0.8125rem;
}

.c-btn {
	background: #333333;
	border: 1px solid #FFFFFF;
	display: inline-block;
	font-size: 1.25rem;
	letter-spacing: 0.2em;
	line-height: 1;
	max-width: 20.9375rem;
	overflow: hidden;
	padding: 0.875rem 0;
	text-align: center;
	transition: all .3s;
	width: 100%;
}

.c-btn--news {
	background: #333333;
	border: 1px solid #FFFFFF;
	display: inline-block;
	overflow: hidden;
	padding: 0.875rem 0;
	text-align: center;
	width: 100%;
}

.c-btn--slide {
	overflow: hidden;
}

.c-btn--slide a {
	border: 1px solid #fff;
	position: relative;
	z-index: 2;
}

.c-btn--slide a:before {
	background-color: #333333;
	content: '';
	height: 100%;
	left: -100%;
	position: absolute;
	top: 0;
	transition: all 300ms linear;
	width: 100%;
	z-index: -1;
}

.c-btn--slide a:hover {
	color: #FFFFFF;
}

.c-btn--slide a:hover:before {
	left: 0;
}

.c-btn--slide--white {
	overflow: hidden;
}

.c-btn--slide--white a {
	position: relative;
	z-index: 2;
}

.c-btn--slide--white a:before {
	background-color: #ffffff;
	content: '';
	height: 100%;
	left: -100%;
	position: absolute;
	top: 0;
	transition: all 300ms linear;
	width: 100%;
	z-index: -1;
}

.c-btn--slide--white a:hover {
	color: #333333;
}

.c-btn--slide--white a:hover:before {
	left: 0;
}

.c-btn--header {
	align-items: center;
	background: #fff;
	color: #333333;
	display: flex;
	height: 100%;
	justify-content: center;
	transition: all 0.3s;
	width: 100%;
}

.c-hamburger {
	z-index: 9999;
}

.c-hamburger span {
	background: #fff;
	display: block;
	height: 2px;
	position: relative;
	transition: ease .3s;
	width: 26px;
}

.c-hamburger span:nth-child(1) {
	top: 0;
}

.c-hamburger span:nth-child(2) {
	margin: 6px 0;
}

.c-hamburger span:nth-child(3) {
	top: 0;
}

/*OPEN時の動き*/

.c-hamburger.open span:nth-child(1) {
	top: 0.3125rem;
	transform: rotate(45deg);
}

.c-hamburger.open span:nth-child(2) {
	opacity: 0;
	transform: translateY(-50%);
}

.c-hamburger.open span:nth-child(3) {
	top: -0.625rem;
	transform: rotate(-45deg);
}

.c-section-title {
	display: inline-block;
	font-size: 1.25rem;
	font-weight: 400;
	left: 50%;
	letter-spacing: 0.066em;
	position: relative;
	text-align: center;
	text-align: center;
	transform: translateX(-50%);
}

.c-test {
	color: red;
	font-size: 1.25rem;
}

.c-toTop {
	align-items: center;
	background: #fff;
	bottom: 1.3125rem;
	cursor: pointer;
	display: flex;
	height: 2.8125rem;
	justify-content: center;
	position: fixed;
	right: 1.3125rem;
	transition: all 0.3s;
	width: 2.8125rem;
	z-index: 100;
}

.c-toTop:hover {
	background: #333333;
}

.c-toTop:hover .arrow-top {
	border-left: 4px solid #fff;
	border-top: 4px solid #fff;
}

.arrow-top {
	border-left: 4px solid #000;
	border-top: 4px solid #000;
	display: inline-block;
	height: 18px;
	margin: 8px 10px 0;
	transform: rotate(45deg);
	transition: all .3s;
	width: 18px;
}

.p-blog__title::before {
	color: #F9F871;
	content: "Blog";
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 3.125rem;
	font-weight: normal;
	left: 50%;
	opacity: 0.2;
	position: absolute;
	top: -3.1875rem;
	transform: translateX(-50%);
}

.p-blog__items {
	margin-top: 3.4375rem;
	text-align: center;
}

.p-blog__item + .p-blog__item {
	margin-top: 1.5rem;
}

.p-blog__btn {
	margin-top: 1.5rem;
	text-align: center;
}

.p-card {
	display: inline-block;
	position: relative;
}

.p-card:first-child::after {
	align-items: center;
	background: #FFBA6A;
	border-radius: 50%;
	color: #333333;
	content: "New";
	display: flex;
	height: 3.75rem;
	justify-content: center;
	left: -0.75rem;
	position: absolute;
	top: -0.75rem;
	width: 3.75rem;
}

.p-card:hover .p-card__body {
	background: #333333;
}

.p-card:hover .p-card__title,
.p-card:hover .p-card__text,
.p-card:hover .p-card__date {
	color: #FFFFFF;
}

.p-card:hover .p-card__img > img {
	transform: scale(1.2) translate(-40%, -40%);
}

.p-card__img {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.p-card__img::before {
	content: "";
	display: block;
	overflow: hidden;
	padding-top: 66.56%;
}

.p-card__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: all .3s;
	width: 100%;
}

.p-card__body {
	background: #fff;
	color: #333;
	padding: 0.5rem 0.9375rem 0.9375rem 1.4375rem;
	transition: all .3s;
}

.p-card__title {
	font-size: 1.125rem;
	font-weight: 500;
	letter-spacing: 0.0556em;
	line-height: 1.94444;
	text-align: left;
}

.p-card__text {
	font-size: 0.875rem;
	font-weight: 400;
	letter-spacing: 0.0714em;
	line-height: 1.85714;
	margin-top: 0.25rem;
	text-align: left;
}

.p-card__bottom {
	display: flex;
	margin-top: 0.5rem;
	padding-right: 0.5rem;
}

.p-card__category {
	align-items: center;
	background: #FFEA2E;
	display: flex;
	font-size: 0.875rem;
	justify-content: center;
	letter-spacing: 0.0714em;
	padding: 0.125rem 0.3125rem;
}

.p-card__date {
	font-size: 0.875rem;
	letter-spacing: 0.0714em;
	margin-left: auto;
}

.p-contact {
	background: #3D3D3D;
	padding-bottom: 4rem;
	padding-top: 3.625rem;
}

.p-contact__title {
	font-size: 1.5625rem;
}

.p-contact__title::before {
	color: #F9F871;
	content: "Contact";
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 3.125rem;
	font-weight: normal;
	left: 50%;
	opacity: 0.2;
	position: absolute;
	top: -2.5625rem;
	transform: translateX(-50%);
}

.p-contact__text {
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 1.4375;
	margin-top: 1rem;
}

.p-contact__text--pc {
	display: none;
	font-size: 1rem;
	letter-spacing: 0.125em;
	line-height: 1.4375;
}

.p-contact__btn {
	margin-top: 2.875rem;
	text-align: center;
}

.p-contact__btn--pc {
	display: none;
}

.p-content-box {
	display: flex;
	flex-wrap: wrap;
}

.p-content-box__item {
	flex: 0 0 50%;
	position: relative;
}

.p-content-box__link {
	display: inline-block;
	position: relative;
}

.p-content-box__link::after {
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all .3s;
	width: 100%;
}

.p-content-box__link:hover::after {
	background: rgba(255, 255, 255, 0.6);
}

.p-content-box__text {
	font-size: 1.25rem;
	font-weight: 400;
	left: 50%;
	letter-spacing: 0.1em;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}

.p-content {
	padding-top: 1.75rem;
}

.p-content__title::before {
	color: #F9F871;
	content: "Content";
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 3.125rem;
	font-weight: normal;
	left: 50%;
	opacity: 0.2;
	position: absolute;
	top: -3.0625rem;
	transform: translateX(-50%);
}

.p-content__items {
	margin-top: 2.8125rem;
}

.p-drawer-menu {
	background: #111111;
	height: 100vh;
	margin-left: auto;
	max-width: 32.5rem;
	text-align: center;
	transform: translateX(200%);
	transition: all 0.3s;
	width: 100%;
	z-index: 100;
}

.p-drawer-menu.open {
	transform: translateX(0);
}

.p-drawer-menu__item a {
	display: block;
	letter-spacing: 0.2em;
	line-height: 1;
	padding: 0.9375rem 0;
	width: 100%;
}

.p-footer-menu__item {
	padding-bottom: 0.125rem;
	padding-top: 0.25rem;
}

.p-footer-menu__item a {
	display: inline-block;
	height: 100%;
	letter-spacing: 0.125em;
	width: 100%;
}

.p-footer-menu--pc {
	display: none;
}

.p-footer-menu--pc__item {
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}

.p-footer-menu--pc__item a {
	display: inline-block;
	height: 100%;
	letter-spacing: 0.125em;
	position: relative;
	text-decoration: none;
	width: 100%;
}

.p-footer-menu--pc__item a::after {
	background: #FFEA2E;
	bottom: 0;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
	width: 100%;
}

.p-footer-menu--pc__item a:hover::after {
	transform: scale(1, 1);
}

.p-footer {
	padding: 2.875rem 0;
}

.p-footer__inner {
	padding-left: 0.625rem;
	padding-right: 0.625rem;
	width: 100%;
}

.p-footer__content {
	text-align: center;
}

.p-footer__logo {
	margin-left: auto;
	margin-right: auto;
	width: 4.375rem;
}

.p-footer__copy {
	font-size: 0.6875rem;
	letter-spacing: 0.12em;
	margin-top: 2rem;
	text-align: center;
}

.p-header {
	background: rgba(17, 17, 17, 0.5);
	height: 3.125rem;
}

.p-header.change-color {
	background: #111111;
}

.p-header__inner {
	height: inherit;
	padding: 0 1.25rem;
}

.p-header__logo {
	align-items: center;
	display: flex;
	height: inherit;
	width: 4.375rem;
}

.p-header__logo img {
	align-items: center;
	display: flex;
	height: 100%;
	width: 100%;
}

.p-header__drawer {
	position: absolute;
	right: 1.25rem;
	top: 1.0625rem;
}

.p-header__menu {
	left: 0;
	overflow: scroll;
	padding-bottom: 11.5625rem;
	padding-top: 11.5625rem;
	position: absolute;
	right: 0;
	top: 0;
}

.p-header__overlay {
	background: rgba(34, 34, 34, 0.6);
	display: none;
	height: 100vh;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99;
}

.p-header__pc-menu {
	height: inherit;
	margin-left: auto;
}

.p-mv {
	height: 100vh;
	position: relative;
	width: 100%;
}

.p-mv__img {
	height: 100vh;
	position: relative;
	width: 100%;
}

.p-mv__img::after {
	background: rgba(17, 17, 17, 0.2);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-mv__img img {
	-o-object-fit: cover;
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.p-mv__content {
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 100;
}

.p-mv__title {
	font-size: 1.75rem;
	font-weight: 700;
	letter-spacing: 0.017em;
	line-height: 1;
}

.p-mv__suv-title {
	font-size: 1.25rem;
	font-weight: 700;
	letter-spacing: 0.025em;
	line-height: 1;
	margin-top: 1.5rem;
}

.p-mv-swiper {
	height: 100%;
	width: 100%;
}

.p-mv-swiper .swiper-wrapper .swiper-slide {
	overflow: hidden;
}

.p-mv-swiper .swiper-wrapper .swiper-slide-prev img,
.p-mv-swiper .swiper-wrapper .swiper-slide-active img,
.p-mv-swiper .swiper-wrapper .swiper-slide-duplicate-active img {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 8s;
	-webkit-animation-fill-mode: forwards;
	animation-duration: 8s;
	animation-fill-mode: forwards;
	animation-name: zoom;
}

.p-news-info__head {
	align-items: center;
	display: flex;
}

.p-news-info__date {
	align-self: flex-start;
	display: flex;
	font-size: 1rem;
	padding: 0.1875rem 0;
}

.p-news-info__category {
	align-items: center;
	align-self: flex-start;
	border: 1px solid #FFFFFF;
	display: flex;
	font-size: 0.875rem;
	justify-content: center;
	line-height: 1;
	margin-left: 1.875rem;
	padding: 0.5rem 0;
	width: 6.1875rem;
}

.p-news-info__body {
	margin-top: 1rem;
}

.p-news-info__text {
	display: inline-block;
	letter-spacing: 0.01;
	line-height: 1.4375;
	position: relative;
	text-decoration: none;
	transition: all 0.3s;
}

.p-news-info__text::after {
	background: #FFFFFF;
	bottom: 0;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
	width: 100%;
}

.p-news-info__text:hover::after {
	transform: scale(1, 1);
}

.p-news-info__text--hover-yellow {
	display: inline-block;
	letter-spacing: 0.01;
	line-height: 1.4375;
	position: relative;
	text-decoration: none;
	transition: all 0.3s;
	transition: all 0.3s;
}

.p-news-info__text--hover-yellow:hover {
	color: #f9f871;
}

.p-news-mv {
	background: url(../../../WordPressTheme/assets/img/news/news-ul-sp.jpg) no-repeat center/cover;
	padding-bottom: 11.6875rem;
	padding-top: 11.875rem;
}

.p-news-mv__title {
	font-size: 1.875rem;
	font-weight: 700;
	letter-spacing: 0.0667em;
	text-align: center;
}

.p-news-news__inner {
	margin: 0 auto;
	max-width: 56.875rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	width: 100%;
}

.p-news-news__item + .p-news-news__item {
	margin-top: 2rem;
}

.p-news__inner {
	margin: 0 auto;
	max-width: 68.75rem;
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	width: 100%;
}

.p-news__item + .p-news__item {
	margin-top: 2rem;
}

.p-news__btn {
	font-size: 1.25rem;
	letter-spacing: 0.2em;
	line-height: 1;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.75rem;
	max-width: 20.9375rem;
	text-align: center;
}

.p-overview__title::before {
	color: #F9F871;
	content: "Overview";
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 3.125rem;
	font-weight: normal;
	left: 50%;
	opacity: 0.2;
	position: absolute;
	top: -3.0625rem;
	transform: translateX(-50%);
}

.p-overview__content {
	background: #333333;
	margin-top: 2.875rem;
	padding-bottom: 1.375rem;
}

.p-overview__img {
	position: relative;
	width: 100%;
}

.p-overview__img::after {
	background: rgba(17, 17, 17, 0.2);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-overview__img::before {
	content: "";
	display: block;
	padding-top: 69.6%;
}

.p-overview__img img {
	-o-object-fit: cover;
	-o-object-position: center;
	height: 100%;
	left: 50%;
	object-fit: cover;
	object-position: center;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	vertical-align: bottom;
	width: 100%;
}

.p-overview__text-box {
	margin-top: 1.3125rem;
	padding-left: 1.3125rem;
	padding-right: 1.3125rem;
	width: 100%;
}

.p-overview__sub-title {
	font-size: 1.25rem;
	letter-spacing: 0.1em;
	text-align: center;
}

.p-overview__text {
	letter-spacing: 0.125em;
	line-height: 1.4375;
	margin-top: 1.5rem;
}

.p-overview__btn {
	margin-top: 1.5625rem;
	text-align: center;
}

.p-pc-menu {
	display: none;
}

.p-pc-menu__items {
	align-items: center;
	display: flex;
	height: inherit;
}

.p-pc-menu__item {
	height: 2.1875rem;
}

.p-pc-menu__item + .p-pc-menu__item {
	margin-left: 1.875rem;
}

.p-pc-menu__item a {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: center;
	letter-spacing: 0.125em;
	position: relative;
	text-decoration: none;
	width: 100%;
}

.p-pc-menu__item a::after {
	background: #FFEA2E;
	bottom: 0;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transform-origin: left top;
	transition: transform .3s;
	width: 100%;
}

.p-pc-menu__item a:hover::after {
	transform: scale(1, 1);
}

.p-pc-menu__btn {
	display: none;
	height: inherit;
	letter-spacing: 0.125em;
	margin-left: 2rem;
}

.p-pc-menu__btn .p-pc-menu__btn-in {
	padding: 0 1.9375rem;
}

.p-test {
	color: red;
	font-size: 1.25rem;
}

.p-works__title::before {
	color: #F9F871;
	content: "Works";
	display: block;
	font-family: "Noto Serif JP", serif;
	font-size: 3.125rem;
	font-weight: normal;
	left: 50%;
	opacity: 0.2;
	position: absolute;
	top: -3.0625rem;
	transform: translateX(-50%);
}

.p-works__content {
	background: #333333;
	margin-top: 3rem;
	padding-bottom: 1.375rem;
}

.p-works__img-box img {
	vertical-align: bottom;
	width: 100%;
}

.p-works__img::after {
	background: rgba(17, 17, 17, 0.2);
	content: "";
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.p-works__text-box {
	margin-top: -0.375rem;
	padding-left: 1.3125rem;
	padding-right: 1.3125rem;
	width: 100%;
}

.p-works__sub-title {
	font-size: 1.25rem;
	letter-spacing: 0.1em;
	text-align: center;
}

.p-works__text {
	letter-spacing: 0.125em;
	line-height: 1.4375;
	margin-top: 1.5rem;
}

.p-works__btn {
	margin-top: 1.625rem;
	text-align: center;
}

.p-works-swiper .swiper-container img {
	width: 100%;
}

.p-works-swiper .swiper-wrapper {
	width: 100%;
}

.p-works-swiper .swiper-slide {
	width: 100%;
}

.p-works-swiper .swiper-pagination {
	left: 0;
	position: relative;
	text-align: center;
	top: -4px;
}

.p-works-swiper .swiper-pagination-bullet {
	background: #C4C4C4;
	display: inline-block;
	height: 0.5rem;
	opacity: 1;
	width: 0.5rem;
}

.p-works-swiper .swiper-pagination-bullet-active {
	background: #F9F871;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 5.5px;
}

.wp-pagenavi {
	align-items: center;
	display: flex;
	justify-content: center;
}

.previouspostslink,
.current,
.page,
.nextpostslink {
	border: 1px solid #FFFFFF;
	font-size: 1rem;
	letter-spacing: 0.125em;
}

.previouspostslink,
.nextpostslink {
	align-items: center;
	display: flex;
	height: 1.3125rem;
	justify-content: center;
	transition: all 0.3s;
	width: 4.625rem;
}

.previouspostslink:hover,
.nextpostslink:hover {
	background: #fff;
	color: #333;
}

.current,
.page {
	display: inline-block;
	height: 1.5rem;
	line-height: 1rem;
	text-align: center;
	width: 1.5rem;
}

.current {
	background: #fff;
	color: #333;
	margin-left: 1.5rem;
}

.page {
	margin-left: 1rem;
	transition: all 0.3s;
}

.page:hover {
	background: #fff;
	color: #333;
}

.nextpostslink {
	margin-left: 1.5rem;
}

@media (prefers-reduced-motion: reduce) {

html:focus-within {
	scroll-behavior: auto;
}

*,
*::before,
*::after {
	-webkit-animation-duration: 0.01ms !important;
	-webkit-animation-iteration-count: 1 !important;
	animation-duration: 0.01ms !important;
	animation-iteration-count: 1 !important;
	scroll-behavior: auto !important;
	transition-duration: 0.01ms !important;
}

}

@media screen and (min-width: 375px) {

html {
	font-size: 16px;
}

.l-top-news {
	margin-top: 1.875rem;
}

.p-contact__title {
	letter-spacing: 0.0667em;
}

.u-hidden-sp {
	display: none;
}

}

@media screen and (min-width: 768px) {

html {
	font-size: 1.45455vw;
}

.l-bg-line {
	background: url(../img/common/line-pc.png) no-repeat top/cover;
	height: 2688px;
	left: -0.25rem;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -100;
}

.l-inner {
	max-width: 1150px;
	padding-left: 25px;
	padding-right: 25px;
}

.l-news-contact {
	margin-top: 9.375rem;
}

.l-news-news {
	margin-top: 4.125rem;
}

.l-news-pagination {
	display: block;
	margin-top: 6.375rem;
}

.l-top-blog {
	margin-top: 12.6875rem;
}

.l-top-contact {
	margin-top: 9.375rem;
}

.l-top-content {
	margin-top: 5.25rem;
}

.l-top-overview {
	margin-top: 12.375rem;
}

.l-top-works {
	margin-top: 12.4375rem;
}

.c-btn {
	font-size: 1rem;
	letter-spacing: 0.125em;
	max-width: 22.5rem;
	padding: 1.3125rem 0;
}

.c-btn--news {
	background: #fff;
	color: #333333;
	padding: 0.3125rem 0;
	transition: all 0.3s;
}

.c-btn--slide a {
	border: none;
}

.c-hamburger {
	display: none;
}

.c-section-title {
	font-size: 1.875rem;
}

.c-test {
	color: green;
	font-size: 3.125rem;
}

.p-blog__title {
	letter-spacing: 0.0167em;
}

.p-blog__title::before {
	font-size: 6.875rem;
	left: 29.5rem;
	top: -3.9375rem;
}

.p-blog__items {
	display: flex;
	margin-top: 1.9375rem;
}

.p-blog__item + .p-blog__item {
	margin-left: 1.5625rem;
	margin-top: 0rem;
}

.p-blog__item {
	display: none;
	max-width: 21.875rem;
	width: 100%;
}

.p-blog__item:nth-child(1) {
	display: block;
}

.p-blog__item:nth-child(2) {
	display: block;
}

.p-blog__item:nth-child(3) {
	display: block;
}

.p-blog__btn {
	display: flex;
	justify-content: center;
	margin-top: 3rem;
}

.p-card__body {
	padding: 0.25rem 0.9375rem 0.9375rem 1.5625rem;
}

.p-card__text {
	margin-top: 0.6875rem;
}

.p-card__bottom {
	margin-top: 0.75rem;
}

.p-contact {
	padding-bottom: 9.3125rem;
	padding-top: 8.9375rem;
}

.p-contact__title::before {
	font-size: 6.875rem;
	left: -15.5625rem;
	top: -5.9375rem;
}

.p-contact__text {
	display: none;
}

.p-contact__text--pc {
	display: block;
	margin-top: 1.5rem;
	text-align: center;
}

.p-contact__btn {
	display: none;
	margin-top: 2.5rem;
}

.p-contact__btn--pc {
	display: flex;
	justify-content: center;
	margin-top: 3.375rem;
}

.p-content-box__item {
	flex: 0 0 25%;
}

.p-content-box__text {
	font-size: 1.5625rem;
	letter-spacing: 0.08;
}

.p-content {
	padding-top: 6.4375rem;
}

.p-content__title {
	letter-spacing: 0.0667em;
}

.p-content__title::before {
	font-size: 6.875rem;
	left: -16.9375rem;
	top: -2.75rem;
}

.p-content__items {
	margin-top: 2.5rem;
}

.p-footer-menu {
	display: none;
}

.p-footer-menu__item {
	padding: 0;
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
}

.p-footer-menu__item a {
	padding-left: 1rem;
	padding-right: 1rem;
}

.p-footer-menu--pc {
	display: flex;
}

.p-footer-menu--pc__item {
	margin-left: 0.9375rem;
	margin-right: 0.9375rem;
	padding: 0;
}

.p-footer-menu--pc__item:first-child {
	margin-left: 0;
}

.p-footer {
	padding-top: 2.3125rem;
}

.p-footer__inner {
	padding-left: 2rem;
	padding-right: 1.0625rem;
}

.p-footer__content {
	display: flex;
	justify-content: space-between;
}

.p-footer__logo {
	margin: 0;
}

.p-footer__copy {
	font-size: 0.9375rem;
	letter-spacing: 0.08em;
	margin-top: 4.625rem;
}

.p-header__inner {
	display: flex;
	padding-left: 2.0625rem;
	padding-right: 0;
}

.p-header__logo {
	width: 5.9625rem;
}

.p-mv__title {
	font-size: 3.125rem;
	letter-spacing: 0.01em;
}

.p-mv__suv-title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
}

.p-news-info {
	display: flex;
}

.p-news-info__category {
	margin-left: 3rem;
}

.p-news-info__body {
	margin-left: 3.8125rem;
	margin-top: 0;
	padding: 0.1875rem 0;
}

.p-news-mv {
	background: url(../../../WordPressTheme/assets/img/news/news-ul-pc.jpg) no-repeat center/cover;
	padding-bottom: 9.6875rem;
	padding-top: 9.875rem;
}

.p-news-mv__title {
	font-size: 2.1875rem;
	letter-spacing: 0.057em;
}

.p-news-news__inner {
	padding-left: 1.5625rem;
	padding-right: 1.5625rem;
}

.p-news__inner {
	padding-left: 1.6875rem;
	padding-right: 1.9375rem;
}

.p-news__btn {
	align-items: center;
	display: flex;
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.001em;
	margin-left: 3rem;
	margin-right: 0;
	margin-top: 0;
	width: 8.375rem;
}

.p-overview__title {
	letter-spacing: 0.0167em;
}

.p-overview__title::before {
	font-size: 6.875rem;
	left: -14.25rem;
	letter-spacing: 0.0182em;
	top: -3.5rem;
}

.p-overview__content {
	background: linear-gradient(to left, transparent 30%, #333333 30%);
	margin-top: 2.125rem;
	padding-bottom: 5rem;
	padding-top: 5rem;
	width: 100%;
}

.p-overview__inner {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	margin-left: auto;
	margin-right: auto;
	max-width: 69.375rem;
	padding-left: 0.25rem;
	width: 100%;
}

.p-overview__img {
	align-items: center;
	display: flex;
	max-width: 34.8125rem;
	width: 100%;
}

.p-overview__img img {
	max-width: 34.8125rem;
}

.p-overview__text-box {
	flex: 0 1 35.875rem;
	margin-top: 0rem;
	padding-bottom: 5px;
	padding-left: 0rem;
	padding-right: 2rem;
}

.p-overview__sub-title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
	text-align: left;
}

.p-overview__text {
	font-size: 1rem;
	letter-spacing: 0.0313em;
	line-height: 2.1875;
	margin-top: 2.3125rem;
}

.p-overview__btn {
	border: none;
	margin-top: 3rem;
	text-align: left;
}

.p-pc-menu {
	display: block;
}

.p-pc-menu__btn {
	display: block;
}

.p-test {
	color: green;
	font-size: 3.125rem;
}

.p-works__title {
	letter-spacing: 0.0167em;
}

.p-works__title::before {
	font-size: 6.875rem;
	left: 27.375rem;
	letter-spacing: 0.0182em;
	top: -3.5625rem;
}

.p-works__content {
	background: linear-gradient(to right, transparent 30.5%, #333333 30.5%);
	margin-top: 2rem;
	padding-bottom: 3.4375rem;
	padding-top: 5rem;
	width: 100%;
}

.p-works__inner {
	align-items: center;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	max-width: 69.375rem;
	padding-left: 0.3125rem;
	width: 100%;
}

.p-works__img-box {
	align-items: center;
	display: flex;
	max-width: 34.8125rem;
	width: 100%;
}

.p-works__img-box img {
	max-width: 34.8125rem;
}

.p-works__text-box {
	flex: 0 1 35.875rem;
	margin-top: 0rem;
	padding-bottom: 1.75rem;
	padding-left: 2rem;
	padding-right: 0rem;
}

.p-works__sub-title {
	font-size: 1.5625rem;
	letter-spacing: 0.02em;
	text-align: left;
}

.p-works__text {
	font-size: 1rem;
	letter-spacing: 0.0313em;
	line-height: 2.1875;
	margin-top: 2.1875rem;
}

.p-works__btn {
	margin-top: 3.125rem;
	text-align: left;
}

.p-works-swiper .swiper-container img {
	max-width: 34.8125rem;
}

.p-works-swiper .swiper-wrapper {
	max-width: 34.8125rem;
}

.p-works-swiper .swiper-slide {
	max-width: 34.8125rem;
}

.p-works-swiper .swiper-pagination {
	left: -1.25rem;
	top: 0.375rem;
}

}

@media (min-width: 1100px) {

html {
	font-size: 16px;
}

}

@media screen and (min-width: 1100px) {

.c-test {
	color: blue;
}

.p-test {
	color: blue;
}

.u-hidden-pc {
	display: none;
}

}

@media screen and (min-width: 1440px) {

.c-test {
	color: brown;
}

.p-test {
	color: brown;
}

}

@-webkit-keyframes zoom {

from {
	transform: scale(1);
}

to {
	transform: scale(1.3);
}

}

@keyframes zoom {

from {
	transform: scale(1);
}

to {
	transform: scale(1.3);
}

}

