@use "sass:math";

// インナー幅設定
/// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ
$l-inner: 1100px; // インナー幅
$l-pc: 1440px; // パソコン幅
$l-md: 1280px; // パソコン幅

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

/********************************
* フォント
********************************/
$font-family-base: "Noto Sans JP", sans-serif;// ベースフォント
$font-family-sub: 'Noto Serif JP', serif;// 
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間

// フォントウェイト
$light: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$ex-bold: 800;


/********************************
* カラー
********************************/
// 色
$background: #fff; // 背景
$text-color: #111; // テキスト色
$category-color: #FFEA2E;   
$btn-color: #FFEA2E; 
$btn-color2: #3333333b; 
// $bg-sub-color: #c1abd0; 
$bg-sub-color: #cbf0f3; 
$section-title-color: rgb(194, 248, 183); 
$title-color: #f7af3c; 
$main-color: #e99bc1; 
$accent-color: #ee308c; 
$footer-color: #e6e6e6; 
$elegant-color: #d17df1; 

// マウスホバー
$opacity: 0.7; // 透過度



/********************************
* z-index
********************************/
$header: 100;
$hamburger: 110;
$drawer: 102;
$drawer-back: 101;
$page-top: 99;

body {
  font-weight: $normal;
  font-family: $font-family-base;
  background: $background;
  line-height: 1.6;
}


/* 背景固定用CSS */
.is-screen-locked {
  overflow: hidden;
}