
.p-blog__title {
  @include mq(tab) {
    letter-spacing: 0.0167em;    
  }
  


  &::before {
    content: "Blog";
    display: block;
    font-size: rem(50);
    font-weight: normal;
    position: absolute;
    top: rem(-51);
    left: 50%;
    transform: translateX(-50%);
    color: $title-color;
    opacity: 0.2;
    font-family: $font-family-sub;

    @include mq(tab) {
      left: rem(472);
      font-size: rem(110);
      top: rem(-63);
      
    }
  }
}

.p-blog__items{
   text-align: center;

   @include mq(tab) {
    display: flex; 
    flex-wrap: wrap;
  
  } 

}

.p-blog__item {
  &:first-child {

    &::after {
      content: "New";
      display: flex;
      justify-content: center;
      align-items: center;
      width: rem(60);
      height: rem(60);
      border-radius: 50%;
     background: #FFBA6A;
     color: #333333;
     position: absolute;
     top: rem(-12);
     left: rem(-12);
    }
  }
 

 
  &+& {
    margin-top: rem(22);
    
    
   @include mq(tab) {
    margin-top: rem(0);
    margin-left: rem(25);

    &:nth-child(3n + 1) {
      margin-left: 0;

    }

    &:nth-child(n + 4) {
      margin-top: rem(48);
    }
   }

 }

  @include mq(tab) {
   display: none;  
   width: calc(33.3% - 50px / 3);


   &:nth-child(1) {
     display: block;
   }
   &:nth-child(2) {
     display: block;
   }
   &:nth-child(3) {
     display: block;
   }

  }


  
}

.p-blog__btn {
  margin-top: rem(24);
  text-align: center;

  @include mq(tab) {
    margin-top: rem(48);  
    display: flex;
    justify-content: center;
  }

}