.p-content{
  padding-top: rem(28);

  @include mq(tab) {
    padding-top: rem(103);
    position: relative;
  }
}

.p-content.is-animated::before {

  @include mq(tab) {
    content: "";
    display: block;
    width: rem(1);
    height: calc(0 / 1280 * 100vw);
    background: $title-color;
    position: absolute;
    top: -7%;
    left: 0%;
    transform: rotate(-45deg);
    z-index: -1;
    
    animation-name: borderSlide1;/*1で解説*/
    animation-fill-mode:forwards;/*開始と終了の状態*/
    animation-duration:1s;/*アニメーションの長さ*/
    animation-timing-function:linear;/*アニメーションの進行具合*/
    animation-direction:normal;/*アニメーションの向き*/
    animation-delay: 1.5s;/*アニメーションの開始を遅らせる*/
    
      }
  }

  @keyframes borderSlide1{
  
    100% {
    height: calc(1714 / 1280 * 100vw);
    top: -60%;
    left: 46%;
    }
  }


.p-content__title {
  @include mq(tab) {
    letter-spacing: 0.0667em;
  }


  &::before {
    content: "Content";
    display: block;
    font-size: rem(50);
    font-weight: normal;
    position: absolute;
    top: rem(-49);
    left: 50%;
    transform: translateX(-50%);
    color: $title-color;
    opacity: 0.2;
    font-family: $font-family-sub;

    @include mq(tab) {
      left: rem(-271);
      font-size: rem(110);
      top: rem(-44);
      
    }
  }

 
}

.p-content__items {
  margin-top: rem(45);

  @include mq(tab) {
    margin-top: rem(40);
    
  }


}

