.p-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-self:auto;
}

.p-card:hover {
      .p-card__body {
        background: rgba($color: $main-color, $alpha: 0.6);
  
      }
  
      .p-card__title,
      .p-card__text,
      .p-card__date  {
        color: $text-color;
        
      }
      .p-card__img > img {
        transform: scale(1.2) translate(-40%, -40%);
      }
    }

.p-card__img {
  width: 100%;
  position: relative;
  overflow: hidden;
  
  }
  
  .p-card__img::before {
    padding-top: 66.56%; //画像の横 223/335 縦
    display: block;
    content: "";
    overflow: hidden;
  
  }
  
  .p-card__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
    transition: all .3s;
 
  }

.p-card__body {
   background: #fff;
   padding: rem(8) rem(15) rem(23) rem(15);
   color: #333;
   transition: all .3s;
   
   @include mq(tab) {
     padding: rem(4) rem(15) rem(25) rem(13);
     
   }
}

.p-card__title {
  font-size: rem(18);
  font-weight: 500;
  line-height: (35 / 18);
  letter-spacing: 0.0556em;
  text-align: left;  

  @include mq(tab) {
  }

}

.p-card__text {
  font-size: rem(14);
  font-weight: 400;
  letter-spacing: 0.0714em;
  line-height: (26 / 14);
  margin-top: rem(4);
  text-align: left;  

  @include mq(tab) {
    margin-top: rem(11);
  }


}

.p-card__bottom {
   margin-top: auto;
   display: flex;
   padding-right: rem(8);
   padding-top: rem(8);

   @include mq(tab) {
     padding-top: rem(12);
   }
}

.p-card__category {
 font-size: rem(14);
 padding: rem(2) rem(5);
 display: flex;
 justify-content: center;
 align-items: center;
 background:$category-color;
 letter-spacing: 0.0714em;

}
//お知らせページカテゴリカラー
.p-card__category.event {
  background-color: $main-color;
  border:  1px solid $main-color;
  
}
.p-card__category.news {
  background-color: $title-color;
  border:  1px solid $title-color;
  
}
.p-card__category.shop {
  background-color: $bg-sub-color;
  border:  1px solid $bg-sub-color;
  
}

//ブログページカテゴリカラー
.p-card__category.blog {
  background-color: $main-color;
 color: #fff;
}
.p-card__category.item {
  background-color: $elegant-color;
 color: #fff;
}
.p-card__category.shop-info {
  background-color: $title-color;
 color: #fff;
}
.p-card__category.staff {
  background-color: $bg-sub-color;
 color: #111;
}
.p-card__category.trivia {
  background-color: $category-color;
 color: #111;
}


.p-card__date {
 font-size: rem(14);
 margin-left: auto;
 letter-spacing: 0.0714em;
}