.p-contact {
   padding-top: rem(58);
   padding-bottom: rem(64);
   background: $bg-sub-color;

   @include mq(tab) {
    padding-top: rem(143);
    padding-bottom: rem(149);
  }
}


.p-contact__title {
   font-size: rem(25);
   position: relative;
   @include mq(sp) {
     letter-spacing: 0.0667em;
    }
  }


  .p-contact__title::before {
    content: "Contact";
    display: block;
    font-size: rem(50);
    font-weight: normal;
    position: absolute;
    top: rem(-55);
    left: 50%;
    transform: translateX(-50%);
    color: $title-color;
    font-family: $font-family-sub;

    @include mq(tab) {
      left: 50%;
      font-size: rem(110);
      top: rem(-115);
      
    }
  }

.p-contact__text {
  margin-top: rem(16);
  font-size: rem(16);
  letter-spacing: 0.125em;
  line-height: (23 / 16);

  @include mq(tab) {
  display: none;
  }

}

.p-contact__text--pc {
  font-size: rem(16);
  letter-spacing: 0.125em;
  line-height: (23 / 16);
  display: none;

  @include mq(tab) {
    margin-top: rem(24);
   text-align: center;  
   display: block;
  }

}

.p-contact__btn {
  margin-top: rem(46);
  text-align: center;
  
  @include mq(tab) {
   margin-top: rem(40);
 
}

}

