.p-content{
  padding-top: rem(28);

  @include mq(tab) {
    padding-top: rem(103);
    position: relative;
  }
}

.p-content.is-animated::before {

  content: "";
  display: block;
  width: 100%;
  height: rem(1076);
  background: url(../img/common/itimatu-pink.jpg) no-repeat center center / cover; 
  clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -2;
    
    animation-name: borderSlide1;/*1で解説*/
    animation-fill-mode:forwards;/*開始と終了の状態*/
    animation-duration:1.5s;/*アニメーションの長さ*/
    animation-timing-function:linear;/*アニメーションの進行具合*/
    animation-direction:normal;/*アニメーションの向き*/
    animation-delay: 1.7s;/*アニメーションの開始を遅らせる*/
    @include mq(tab) {
      height: rem(1300);
      
      }
  }


.p-content__title {
  position: relative;
  @include mq(tab) {
    letter-spacing: 0.0667em;
  }
}


  .p-content__title::before {
    content: "Plan";
    display: block;
    font-size: rem(50);
    font-weight: normal;
    position: absolute;
    top: rem(-49);
    left: 50%;
    transform: translateX(-50%);
    color: $title-color;
    font-family: $font-family-sub;

    @include mq(tab) {
      left: 17%;
      font-size: rem(110);
      top: rem(-26);
      
    }
  }

.p-content__items {
  margin-top: rem(45);

  @include mq(tab) {
    margin-top: rem(40);
    
  }


}

