.p-footer {
   padding: rem(46) 0;

   @include mq(tab) {
     padding-top: rem(37);
   }
}

.p-footer__inner {
  width: 100%;
padding-left: rem(10);
padding-right: rem(10);

  @include mq(tab) {
    padding-left: rem(32);
    padding-right: rem(17);
    
  }
}
.p-footer__content {
  text-align: center;

  @include mq(tab) {
    display: flex;
    justify-content: space-between;
  }
}

.p-footer__logo {
   width: rem(70);
   margin-left: auto;
   margin-right: auto;

   @include mq(tab) {
   margin: 0;  
  }
}

.p-footer__menu {
  
}

.p-footer__copy {
  margin-top: rem(32);
  font-size: rem(11);
  letter-spacing: 0.12em;
  text-align: center;

  @include mq(tab) {
   margin-top: rem(74);  
   font-size: rem(15);
   letter-spacing: 0.08em;
  }
}