.p-footer {
   padding: rem(48) 0;
}

.p-footer__content {
  text-align: center;
}

.p-footer__logo {
   width: rem(70);
   margin-left: auto;
   margin-right: auto;
}

.p-footer__menu {

}

.p-footer__copy {
  margin-top: rem(32);
  font-size: rem(11);
  letter-spacing: 0.12em;
  text-align: center;
}