.p-lower-works-nav {
}

.p-lower-works-nav__inner {
  padding-left: 0;

  @include mq(tab) {
    display: flex;
    
    
  }

}

.p-lower-works-nav__item--top {
  font-size: rem(16);
  letter-spacing: 0.125em;
  padding: rem(2) rem(7);
  margin-left: rem(15);
  }

.is-genre-active {
  background: #fff;
  color: #333;
}

.p-lower-works-nav__item {
  font-size: rem(16);
  letter-spacing: 0.125em;
  padding: rem(2) rem(7);


  &:first-child{
    margin-left: 10px;

    @include mq(tab) {
      margin-left: rem(30);
    }

  }


  &+& {
    margin-left: rem(10);

    @include mq(tab) {
      margin-left: rem(30);
    }
  }
  

}



.p-lower-works-nav__bottom {
  margin-top: rem(14);
  display: flex;
  flex-wrap: wrap;

  @include mq(tab) {
    margin-top: 0;
  }
}


