.p-lower-blog-items {
  text-align: center;

   @include mq(tab) {
    display: flex; 
    flex-wrap: wrap;
  
  } 
}

.p-lower-blog-items__item {

  &+& {
    margin-top: rem(22);
    
   @include mq(tab) {
    margin-top: rem(0);
    margin-left: rem(25);

    &:nth-child(3n + 1) {
      margin-left: 0;

    }

    &:nth-child(n + 4) {
      margin-top: rem(46);
    }
   }

 }

  @include mq(tab) {
   width: calc(33.3% - 50px / 3);

  }

}