.p-lower-works-items {

  @include mq(tab) { 
    max-width: rem(1150);
    margin-left: auto;
    margin-right: auto;
    padding-left: rem(25);
    padding-right: rem(25);
    display: flex;
    flex-wrap: wrap;
  }
}

.p-lower-works-items__item {
  width: 100%;
  max-width: rem(590);
  margin-left: auto;
  margin-right: auto;

  &+& {
    margin-top: rem(48);
    
    @include mq(tab) {
      margin-top: 0;
    }
  }

  @include mq(tab) {
    width: calc(50% - 48px  / 2);
    
    &:nth-child(even) {
      margin-left: rem(48);
    }

    &:nth-child(n + 3) {
      margin-top: rem(114);
    }
  }



}