
.p-lower-works-nav__inner {
  @include mq(tab) {
    display: flex;
    align-items: center;
  }
}

.p-lower-works-nav__item--top {
  font-size: rem(16);
  letter-spacing: 0.125em;
  padding: rem(2) rem(7);

  }

.is-genre-active {
  background: $title-color;
  color: #fff;
}

.p-lower-works-nav__item {
  font-size: rem(16);
  letter-spacing: 0.125em;
  padding: rem(2) rem(7);

  @include mq(tab) {
    margin-left: rem(20);
  }

}



.p-lower-works-nav__bottom {
  margin-top: rem(14);
  display: flex;
  flex-wrap: wrap;

  @include mq(tab) {
    margin-top: 0;
  }
}


