.p-lower-contact-form {

  .contact__form {
    padding-left: rem(20);
    padding-right: rem(20);
    padding-bottom: rem(120);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: rem(590) ;
    background: transparent;
   
    @include mq (tab) {
      max-width: rem(912);
      padding-left: rem(25);
      padding-right: rem(25);
      padding-bottom: rem(150);
  
    }
   }
   
     
   .contact-form {
   
   }  
   
   .contact__form--dl {
   
   }
   
     
   .contact__form--row {
     @include mq (tab) {
       display: flex;
    
    }
   
    &:not(:first-child) {
      margin-top: rem(25);
      
      @include mq (tab) {
        margin-top: rem(41);
     }
    }
   }
   
     
   .contact__form--label {
     padding-top: 5px;
     width: 100%;
     
     @include mq (tab) {
      max-width: rem(135);
      padding-top: rem(12);
    }
   
    label {
     font-weight: 400;
     font-size: rem(14);
     letter-spacing: 0.05em;

     @include mq(tab) {
       display: block;
       text-align: right;
       
     }

   
     
    }
   }
   
     
   .contact__form--input {
     width: 100%;
     margin-top: rem(19);
     
     @include mq (tab) {
      // width: calc(100% - 160px);
      max-width: rem(540);
      margin-top: 0;
      margin-left: rem(24);
    }
   
     [type="text"] {
      box-shadow: none;
      border: 1px solid #707070;
      border-radius: 0;
      background: #fff;
      appearance: none;
      padding: rem(10);
      font-size: 14px;
      color: #333;
      font-family: inherit;;
      width: 100%;

      
   
     }
   
     [type="email"] {
      box-shadow: none;
      border: 1px solid #707070;
      border-radius: 0;
      background: #fff;
      appearance: none;
      padding: rem(10);
      font-size: 14px;
      color: #333;
      font-family: inherit;;
      width: 100%;
   
      
     }
   
    
   
    textarea {
    min-height: rem(250);
     resize: vertical;
     box-shadow: none;
     border: 1px solid #707070;
     border-radius: 0;
     background: #fff;
     appearance: none;
     padding: rem(10);
     font-size: 14px;
     color: #333;
     font-family: inherit;;
     width: 100%;

   
     @include mq (tab) {
      min-height: rem(300);
     }
    }
   }
   
   //必須未入力箇所背景色変更
   [type="text"].wpcf7-not-valid,
   [type="email"].wpcf7-not-valid,
   textarea.wpcf7-not-valid {
      background: #FFDCDC;
   }

   //必須未入力メッセージ色、位置変更
   .wpcf7-response-output {
    text-align: center;
    color: #FF5757;
   }

   //必須未入力箇所囲み線なし
   .wpcf7 form .wpcf7-response-output{
     border: none;
   }
     
     
   
   
   .contact__form--submit {
    margin-top: rem(53);
    text-align: center;
    padding-right: 15px;

    @include mq(tab) {
      padding-right: 0;
    }
     
    [type="submit"] {
     font-family: inherit;;
     appearance: none;
     font-size: 20px;
     font-weight: bold;
     width: 100%;
     max-width: rem(590);
     color: #333;
     border: none;
     box-shadow: 0  3px  6px #00000029;
     padding: rem(17) rem(9);
     cursor: pointer;
     transition: all .3s ease 0s;
   
     &:hover {
      opacity: 0.7;
   
    }
   
     
    @include mq (tab) {
     max-width: rem(340);
     font-size: rem(16);
   
     }
    }
   }
   
   .contact__message {
    text-align: center;
    margin-top: 60px;
    display: none;
    &.-error {
     color: red;
    }
   }
}