.p-lower-common-mv {
  padding-top: rem(190);
  padding-bottom: rem(187);
  position: relative;

  @include mq(tab) {
    padding-top: rem(158);
    padding-bottom: rem(155);
  }

}

.p-lower-common-mv__title {
  font-size: rem(30);
  letter-spacing: 0.0667em;
  font-weight: 700;
  text-align: center;
  position: relative;
  z-index: 10;
  color: #fff;
  @include mq(tab) {
    font-size: rem(35);
    letter-spacing: 0.057em;
  }
}