.p-news-info{
  @include mq(tab) {
    display: flex;
 }
}

.p-news-info__head {
   display:  flex;
   align-items: center;
}

.p-news-info__date{
  font-size: rem(16);
  display: flex;
   align-self: flex-start;
   padding: rem(3) 0;
   width: rem(75);

}

.p-news-info__category {
   font-size: rem(14);
   padding: rem(8) 0;
   width: rem(99);
   line-height: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid $text-color;
   margin-left: rem(30);
   align-self: flex-start;

   @include mq(tab) {
      margin-left: rem(48);
   }
}

.p-news-info__body {
  margin-top: rem(16);
  width: 100%;

  @include mq(tab) {
    margin-top: 0;
    margin-left: rem(61);
   
  }
}


.p-news-info__text {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  line-height: (23 / 16);
  transition: all 0.3s;
  position: relative;
  text-decoration: none;
  letter-spacing: 0.01;

  @include mq(tab) {
    padding: rem(3) 0;
  }
}

.p-news-info__text::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: $main-color;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .3s;
}
.p-news-info__text:hover::after {
  transform: scale(1, 1);
}
.p-news-info__text:hover {
  color: $main-color;

}
