.p-post-news-back{
  position: relative;
}

.p-post-news-back::before,
.p-post-news-back::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.p-post-news-back::after {
  height: rem(1000);
  background: url(../img/common/itimatu.jpg) no-repeat center center / cover;
  z-index: -1;
  clip-path: polygon(100% 0, 100% 0, 100% 0);

  animation-name:lowerBackSlideRight;
  animation-fill-mode:forwards;/*開始と終了の状態*/
  animation-duration:1.0s;/*アニメーションの長さ*/
  animation-timing-function:ease;/*アニメーションの進行具合*/
  animation-delay: 1.0s;/*アニメーションの開始を遅らせる*/
 
}