@use 'global' as * ; 
body {
  opacity: 0;
  animation: loader-fadeOut 2s;
  animation-fill-mode: both;
  animation-timing-function: ease; /*アニメーションの進行具合*/
}

@keyframes loader-fadeOut {
  100% {
    opacity: 1;
  }
}

.c-loader__top {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background: $main-color;
  z-index: 9998;

  animation-name: clip-1;
  animation-fill-mode: forwards; /*開始と終了の状態*/
  animation-duration: 1s; /*アニメーションの長さ*/
  animation-timing-function: linear; /*アニメーションの進行具合*/
  animation-delay: 0.5s; /*アニメーションの開始を遅らせる*/
}
