@use 'global' as * ; 
.p-blog__title {
  position: relative;
  @include mq(tab) {
    letter-spacing: 0.0167em;
  }
}

.p-blog__title::before {
  content: "Blog";
  display: block;
  font-size: rem(50);
  font-weight: normal;
  position: absolute;
  top: rem(-51);
  left: 50%;
  transform: translateX(-50%);
  color: $title-color;
  z-index: -2;
  font-family: $font-family-sub;

  @include mq(tab) {
    left: 90%;
    font-size: rem(110);
    top: rem(-63);
  }
}

.p-blog__items {
  margin-top: rem(55);

  @include mq(tab) {
    display: flex;
    flex-wrap: wrap;
    margin-top: rem(31);
  }
}

.p-blog__item {
  opacity: 0;
  box-shadow: 0 2px 5px #000;
  @include mq(tab) {
    width: calc(33.3% - 50px / 3);
  }
}

.p-blog__item + .p-blog__item {
  margin-top: rem(22);
  @include mq(tab) {
    margin-top: initial;
    margin-left: rem(25);
  }
}

.p-blog__item.is-animated:first-child {
  animation-name: slideRight; /*1で解説*/
  animation-fill-mode: forwards; /*開始と終了の状態*/
  animation-duration: 0.3s; /*アニメーションの長さ*/
  animation-timing-function: linear; /*アニメーションの進行具合*/
  animation-direction: normal; /*アニメーションの向き*/
}
.p-blog__item.is-animated:nth-child(2) {
  animation-name: slideRight; /*1で解説*/
  animation-fill-mode: forwards; /*開始と終了の状態*/
  animation-duration: 0.3s; /*アニメーションの長さ*/
  animation-timing-function: linear; /*アニメーションの進行具合*/
  animation-delay: 0.3s; /*アニメーションの開始を遅らせる*/
  animation-direction: normal; /*アニメーションの向き*/
}
.p-blog__item.is-animated:nth-child(3) {
  animation-name: slideRight; /*1で解説*/
  animation-fill-mode: forwards; /*開始と終了の状態*/
  animation-duration: 0.3s; /*アニメーションの長さ*/
  animation-timing-function: linear; /*アニメーションの進行具合*/
  animation-delay: 0.6s; /*アニメーションの開始を遅らせる*/
  animation-direction: normal; /*アニメーションの向き*/
}

.p-blog__btn {
  margin-top: rem(24);
  text-align: center;

  @include mq(tab) {
    margin-top: rem(48);
  }
}
