@use 'global' as * ; 
.p-lower-404 {
  padding: rem(120) rem(20);

  @include mq(tab) {
    padding: rem(190) rem(20) rem(150);
    
  }
}

.p-lower-404__title {
  font-size: rem(40);
  letter-spacing: 0.05em;
  text-align: center;
  color: rgba($color: $category-color , $alpha: 0.3);

  @include mq(tab) {
    font-size: rem(60);
    letter-spacing: 0.033em;
    
  }

}
.p-lower-404__text {
  font-size: rem(20);
  letter-spacing: 0.1em;
  text-align: center;
  margin-top: rem(80);

  @include mq(tab) {
    font-size: rem(30);
    letter-spacing: 0.066em;
    
  }
}

.p-lower-404__btn {
  text-align: center;
  margin-top: rem(80);
}