@use 'global' as * ; 
.p-post-works {

}

.p-post-works__title {
  font-size: rem(20);
  padding: rem(20);
  text-align: center;
  letter-spacing: 0.02em;font-weight: 400;
  line-height: 1.76;
  background-image:radial-gradient(#7bded962 30%, transparent 30%);
  background-size: 20px 20px;
  @include mq(tab) {
    font-size: rem(23);
    letter-spacing: 0.017em;
    
  }
}

.p-post-works__title-bottom {
 margin-top: rem(16);
 display: flex;
 align-items: center;

 @include mq(tab) {
  margin-top: rem(32);
}

}

.p-post-works__date {
font-size: rem(16);
letter-spacing: 0.025em;

@include mq(tab) {
    
}

}

.p-post-works__category {
 font-size: rem(16);
 letter-spacing: 0,125em;
 line-height: 1;
 padding: rem(10) rem(23);
 background-color: #fff;
 border: 1px solid $text-color;
 color: $text-color;
 margin-left: rem(24);
}

.p-post-works__category.sweet {
  background-color: $main-color;
 border: 1px solid $main-color;
 color: #fff;
}
.p-post-works__category.elegant {
  background-color: $elegant-color;
 border: 1px solid $elegant-color;
 color: #fff;
}
.p-post-works__category.gorgeous {
  background-color: $title-color;
 border: 1px solid $title-color;
 color: #fff;
}
.p-post-works__category.cool {
  background-color: $bg-sub-color;
 border: 1px solid $bg-sub-color;
 color: #111;
}
.p-post-works__block {
  @include mq(tab) {
    display: flex;
  }
}

.p-post-works__img {
  margin-top: rem(16);
  margin: rem(16) calc(50% - 50vw);
  width: 100vw;
  
  
  @include mq(tab) {
    margin: rem(32) 0 0;
    width: 50%;
    
  }
  
}



.gallery {
    position: relative;
    width: 100%;
    max-width: rem(450);
    margin-left: auto;
    margin-right: auto;
    

    @include mq(tab) {
      max-width: 100%;
      
    }
    
    //メインスライド
    &-slider {
        width: 100%;
        height: auto;
        margin: 0 0 10px 0;
        // position: relative;

        .swiper-slide {
            width: 100%;
            height: rem(550);

            @include mq(tab) {
              height: rem(680);
            }
            
            img {
                display: block;
                width: 100%;
                height: 100%;
                margin: 0 auto;
                object-fit: cover;
            }
        }
    }
    
    //サムネイルスライド
    &-thumbs {
        width: 100%;
        padding: 0;
        overflow: hidden;
        margin-top: rem(5);

        @include mq(tab) {
          margin-top: rem(5);
        }

        .swiper-slide {
            width: rem(100);
            height: rem(100);
            text-align: center;
            overflow: hidden;
            opacity: 1;
            @include mq(tab) {
              width: rem(93);
              height: rem(93);
            }
            
            &-active {
                opacity: 1;
            }
            
            img {
                width: auto;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .swiper-button-next {
      width: rem(30);
      height: rem(30);
      border-radius: 50%;
      background: #111111;
      top: 50%;

      @include mq(tab) {
        width: rem(50);
        height: rem(50);
        top: 50%;
      }
      

      .arrow-right {
        display: inline-block;
        width: rem(9);
        height: rem(9);
        margin: 0 rem(10);
        border-top: 2px solid $category-color;
        border-right: 2px solid $category-color;
        transform: rotate(45deg) translate(-3px , 3px);
        @include mq(tab) {
          width: rem(18);
          height: rem(18);
          border-top: 4px solid $category-color;
          border-right: 4px solid $category-color;
          
        }
      }
      
      &:after {
        display: none;
      }
    }
    
    .swiper-button-prev {
      width: rem(30);
      height: rem(30);
      border-radius: 50%;
      background: #111111;
      top: 50%;
      

      @include mq(tab) {
        width: rem(50);
        height: rem(50);
        top: 50%;
        
      }
       
      .arrow-left {
        display: inline-block;
        width: rem(9);
        height: rem(9);
        margin: 0 rem(10);
        border-left: 2px solid $category-color;
        border-bottom: 2px solid $category-color;
        transform: rotate(45deg) translate(3px , -3px);
        
        @include mq(tab) {
          width: rem(18);
          height: rem(18);
          border-left: 4px solid $category-color;
          border-bottom: 4px solid $category-color;
          
        }
      }
      
      &:after {
        display: none;
      }  
    }
  
}


.p-post-works__wrapper {
  @include mq(tab) {
    width: 50%;
    margin-left: rem(50);
  }
}

.p-post-works__body {
  margin-top: rem(54);
  padding: rem(0) rem(10) rem(33);
  border: 3px solid $main-color;
  @include mq(tab) {
    padding: rem(0) rem(50) rem(30);
  }
}


.p-post-works__sub-title {
display: inline-block;
 font-size: rem(20);
 letter-spacing: 0.02em;
 line-height: 1.448;
 border :3px solid $main-color;
 padding: rem(5) rem(20);
 border-radius: rem(32);
 background: $background;
 transform: translate(rem(10) , rem(-20));
}

.p-post-works__text {
 font-size: rem(36);
 color: $accent-color;
 font-weight: 700;
 letter-spacing: 0.025em;
 line-height: 1;
 text-align: center;

}

.p-post-works__sub-title2 {
display: inline-block; 
 margin-top: rem(24);
 font-size: rem(18);
 letter-spacing: 0.1em;
 margin: 0 rem(8);
 line-height: 1.4477;
 border-bottom: 3px solid;
 border-image: linear-gradient(to right, $category-color 0%,  $category-color 20%, #fff 30%);
 border-image-slice: 1;

 
}

.p-post-works__img2 {
  margin-top: rem(24);
  width: 100%;
  position: relative;

  @include mq(tab) {
    margin-top: rem(32);
    max-width: rem(799);
    margin-left: auto;
    margin-right: auto;
  }
  
  }
  
  .p-post-works__img2::before {
    padding-top: 251 / 375 * 100%;
    display: block;
    content: "";
  
  }
  
  .p-post-works__img2 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }

