@use 'global' as * ; 

.p-post-news-article__head--sp,
.p-post-news-article__head--pc {
  font-size: rem(16);
  padding: rem(11) 0;
  line-height: 1;
  letter-spacing: 0.125em;
  text-align: center;
  width: 100%;
  border: 1px solid $text-color;

  @include mq(tab) {
    background: $bg-sub-color;
  }
}

.p-post-news-article__box {
  margin-top: rem(32);
  @include mq(tab) {
    display: flex;
    margin-top: rem(80);
  }
}

.p-post-news-article__item {
  @include mq(tab) {
    margin-top: 0;
    width: calc(26% - 108px / 4);
  }
}

.p-post-news-article__item + .p-post-news-article__item {
  margin-top: rem(24);

  @include mq(tab) {
    margin-top: 0;
    margin-left: rem(32);
  }
}
