// 色
$background: #fff; // 背景
$text-color: #111; // テキスト色
$category-color: #FFEA2E;   
$btn-color: #FFEA2E; 
$btn-color2: #3333333b; 
// $bg-sub-color: #c1abd0; 
$bg-sub-color: #cbf0f3; 
$section-title-color: rgb(194, 248, 183); 
$title-color: #f7af3c; 
$main-color: #e99bc1; 
$accent-color: #ee308c; 
$footer-color: #e6e6e6; 
$elegant-color: #d17df1; 

// マウスホバー
$opacity: 0.7; // 透過度

// フォント

$font-family-base: "Noto Sans JP", sans-serif;// ベースフォント
$font-family-sub: 'Noto Serif JP', serif;// 
$font-size-base: 16px; // ベースフォントサイズ
$font-weight-base: 400; // ベースフォントウェイト
$lh: 1.6; // ベース行間


// ---
// レイアウト
// ---
$l-tab: 768px; // タブレットサイズ

$l-inner: 1100px; // インナー幅
$l-pc: 1440px; // パソコン幅
$l-md: 1280px; // パソコン幅

// ブレークポイント（PC基準）
$breakpoints: (
	"sp": "screen and (min-width: 375px)",
	"tab": "screen and (min-width: #{$l-tab})",
	"pc": "screen and (min-width: #{$l-inner})",
	"md": "screen and (min-width: #{$l-md})",
	"lg": "screen and (min-width: #{$l-pc})",

);


$padding-pc: 25px; // タブレット時の余白
$padding-sp: 20px; // スマホ時の余白
