.l-bg-line {
  background: url(../img/common/line-sp.png) no-repeat top  / cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 2110px;
  width: 100%;
  z-index: -100;
  
@include mq(tab) {
  background: url(../img/common/line-pc.png) no-repeat top  / cover;
  left: rem(-4);
  height: 2688px;
  
}

@include mq(md) {
  height: 3112px ;
}

}