.c-section-title {
  display: inline-block;
  text-align: center;
  font-size: rem(20);
  font-weight: 400;
  letter-spacing: 0.066em;
  text-align: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);


  @include mq(tab) {
    font-size: rem(30);
   
  }
}