.c-to-top {
  position: fixed;
  right: rem(21);
  bottom: rem(21);
  cursor: pointer;
  width: rem(45);
  height: rem(45);
  background: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  z-index: 100;
}
 
.c-to-top.is-fadein {
  display: flex;
  opacity: 0;
  animation-name: to-top-fadeIn;/*1で解説*/
  animation-fill-mode:forwards;/*開始と終了の状態*/
  animation-duration:1s;/*アニメーションの長さ*/
  animation-direction:normal;/*アニメーションの向き*/
  }



  .c-to-top:hover {
    background: #333333;

    .c-to-top__arrow {
      border-top: rem(4) solid #fff;
      border-left: rem(4) solid #fff;
    }
   

  }
 

.c-to-top__arrow {
  display: inline-block;
  width: rem(18);
  height: rem(18);
  margin: rem(8) rem(10) 0;
  border-top: rem(4) solid #000;
  border-left: rem(4) solid #000;
  transform: rotate(45deg);
  transition: all .3s;
}
