name: Staging Deploy

on:                     # トリガーの設定
  push:                 # プッシュ時に実行
    branches: [main]    # ブランチの指定
  workflow_dispatch:
      
jobs:
  deploy:
    name: Deploy   # ジョブの名前
    runs-on: ubuntu-latest    # ランナー環境の指定

    steps:
        - name: Get latest codel
          uses: actions/checkout@v4   # チェックアウトアクション（https://github.com/actions/checkout）

        - name: Use Node.js 20
          uses: actions/setup-node@v2
          with:
            node-version: '20'
          
        - name: Install dependencies and build
          run: |
            npm install
            npx gulp build
          working-directory: _gulp
        
        - name: List output files in dist
          run: ls -la ./dist
        
        - name: List output files
          run: ls -la ${{ env.BASE_FOLDER }}

        - name: Sync files
          uses: SamKirkland/FTP-Deploy-Action@v4.3.5   # FTPアップロードアクション（https://github.com/SamKirkland/FTP-Deploy-Action）
          with:
              server: ${{ secrets.STAGING_SERVER }}       # FTPのサーバーアドレス
              username: ${{ secrets.STAGING_USERNAME }}   # FTPのユーザー名名
              password: ${{ secrets.STAGING_PASSWORD }}   # FTPのパスワード
              local-dir: ./dist/                           # アップロードしたいファイルのパス
              server-dir: /sassy-make.com/public_html/pf05.sassy-make.com/wp-content/themes/frisodeups/      # アップロード先のリモートパス
